<script>
    import Map from './Map.svelte';
    import { push } from 'svelte-spa-router';
</script>

<header>
    <div class="banner d-flex flex-column flex-md-row justify-content-md-around">
        <div class="text-center mt-5">
            <h1>Formations et offres<br/>d'emplois en ligne</h1>
        </div>
        <Map/>
    </div>
</header>

<main class="home-main">
    <section id="home-formations">
        <div class="content-img"></div>
        <div class="right-content content-text">
            <h2><i class="fas fa-graduation-cap"></i> Des formations dans toute la France</h2>
            <p>Vous recherchez votre prochaine formation en France ? Vous êtes à la recherche d'une plateforme pour répondre à vos besoins ? Ne cherchez plus ! TrouveTaFormation est LE site web qui pourra répondre à tes besoins.</p>
            <p>Ajoutez vos propres critères : le domaine recherché ou le niveau de diplôme. Précisez également la localisation de votre future formation en choisissant votre région, votre département ou même votre ville !</p>
            <button class="btn btn-light d-block mx-auto mt-4" on:click={() => push("/formations")}>Consulter les formations</button>
        </div>
    </section>
    <section id="home-offres">
        <div class="content-img"></div>
        <div class="left-content content-text">
            <h2><i class="fas fa-landmark"></i> Des offres d'emplois adaptées</h2>
            <p>TrouveTaFormation ne se contente pas uniquement de vous fournir des formations dans toute la France. Vous êtes à la recherche d'un emploi ? Nous sommes aussi là pour vos besoins !</p>
            <p>Toutes les offres Pole Emploi figurent ici sur notre plateforme. Ajoutez vos critères de domaines recherchés et de localisation et trouvez votre futur emploi parmis nos liste d'offres.</p>
            <button class="btn bg-sub2 d-block mx-auto mt-4 text-white" on:click={() => push("/offres")}>Consulter les offres</button>
        </div>
    </section>
</main>