<script>

</script>

<footer class="py-3 text-white bg-main" id="main-footer">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://gitlab.com/kevintld/" target="_blank" class="btn nav-link px-2 text-white">Kevin</a></li>
      <li class="nav-item"><a href="https://gitlab.com/nicotoine" target="_blank" class="btn nav-link px-2 text-white">Nicolas</a></li>
    </ul>
    <p class="text-center text-white">© 2021 TrouveTaFormation, Inc</p>
</footer>