<script>
import Select from 'svelte-select';
import { onMount } from 'svelte';
import { 
    Card,
    CardBody,
    CardHeader,
    CardSubtitle,
    CardText,
    CardTitle 
} from 'sveltestrap';
import { paginate, LightPaginationNav } from 'svelte-paginate';
import { push } from 'svelte-spa-router';

export let params={};

let criteres = {
	"dep_code": "&departement=75",
	"codes_romes": "",
	"diplome": "",
	"region_code": "",
};

if (params.region) {
	criteres["region_code"] = `&region=${params.region}`;
	criteres["dep_code"] = "";
}

// dynamic variables
let allFormations = [];
let allJobs = [];
let allDepartements = [];
let allVilles = [];
let allDiploma = ["3 (CAP...)", "4 (BAC...)", "5 (BTS, DEUST...)","6 (Licence...)","7 (Master, titre ingénieur...)"];

// Select values
let selectedDep = "";
let selectedJob = "";
let selectedDiploma = "";
let selectedVille = "";


let currentPage = 1;
let pageSize = 9;

$: paginatedItems = paginate({ items:allFormations, pageSize:pageSize, currentPage:currentPage })


async function getAllJobs()
{
	let allJobs = [];
	const jobs = await fetch("https://labonnealternance.apprentissage.beta.gouv.fr/api/V1/metiers/all").then((result) => result.json());
	for (let job of jobs.metiers)
	{
		allJobs.push(job);
	}
	return allJobs;
}

async function getAllDepartements()
{
	let allDepartements = [];
	const departements = await fetch("https://geo.api.gouv.fr/departements").then(dep => dep.json());
	for (let dep of departements)
	{
		if (params.region) 
		{
			if (dep["codeRegion"] == params.region)
				allDepartements.push({value:dep["code"], label:`${dep["code"]} - ${dep["nom"]}`});
		} else {
			allDepartements.push({value:dep["code"], label:`${dep["code"]} - ${dep["nom"]}`});
		}
	}
	return allDepartements;
}

async function getCodesRomesFromJobTitle(title)
{
	const codes_romes = await fetch(`https://labonnealternance.apprentissage.beta.gouv.fr/api/V1/metiers?title=${title}`).then(res => res.json());
	return codes_romes.labelsAndRomes[0].romes.toString()
}

async function updateVille()
{
	await updateFormations();
	allFormations = allFormations.filter(f => {
		return f.place.zipCode == selectedVille.value;
	});
}

async function updateJob()
{
	criteres["codes_romes"] = await getCodesRomesFromJobTitle(selectedJob.value);
	selectedVille = "";
	updateFormations();
}

async function updateCodeDep()
{
	criteres["region_code"] = "";
	criteres["dep_code"] = `&departement=${selectedDep.value}`;
	const formations = await updateFormations();
	selectedVille = "";
	allVilles = [];
	for (let formation of formations)
	{
		if (!allVilles.some(v => v.value == formation.place.zipCode))
			allVilles.push({value:formation.place.zipCode, label:`${formation.place.zipCode} - ${formation.place.city}`});
	}
}

async function updateDiplome()
{
	criteres["diplome"] = selectedDiploma.value;
	selectedVille = "";
	updateFormations();
}

async function updateFormations()
{
	let formations = await getAllFormations();
	allFormations = formations.reduce((unique, objet) => {
		if(!unique.some(obj => obj.longTitle === objet.longTitle && obj.place.fullAddress == objet.place.fullAddress)) {
			unique.push(objet);
		}
		return unique;
	},[]);
	return allFormations;
}

async function clearJob()
{
	criteres["codes_romes"] = "";
	updateFormations();
}

async function clearDep()
{
	if (params.region) {
		criteres["dep_code"] = "";
		criteres["region_code"] = `&region=${params.region}`;
	}
	else {
		if (selectedJob.value != "") criteres["dep_code"] = "";
		else criteres["dep_code"] = `&departement=75`;
	}
	selectedDep = "";
	selectedVille = "";
	allVilles = [];
	updateFormations()
}

async function clearDiploma()
{
	selectedDiploma = "";
	criteres["diplome"] = "";
	updateFormations();
}

/**
 * Main function
 */
async function getAllFormations()
{
	const formations = await fetch(`https://labonnealternance.apprentissage.beta.gouv.fr/api/V1/formationsParRegion?romes=${criteres["codes_romes"]}${criteres["dep_code"]}${criteres["region_code"]}&diploma=${criteres["diplome"]}&caller=nico%40nico.com`).then(formations => formations.json());
	currentPage = 1;
	return formations.results;
}

onMount(async () => {
	allJobs = await getAllJobs();
	allDepartements = await getAllDepartements();
	allFormations = await getAllFormations();
});

    
</script>

<section class="bg-sub p-1">
	{#if params.region}
	<div class="row g-0 px-2 row-cancel-filters">
		<p class="small mb-0 m-2 cancel-filters">
			<i class="fas fa-times text-danger" on:click={() => push("/formations")}></i>
			Région concernée : {params.region}
		</p>
	</div>
	{/if}
	<div class="row d-md-flex flex-md-wrap g-0 px-2">
		<div class="col-12 mt-2 col-md-5 col-lg-2 flex-lg-grow-1 m-2">
			<label for="selectMetier" class="form-label">Domaine concerné</label>
			<Select items={allJobs} id="selectMetier" bind:value={selectedJob} placeholder="Rechercher un domaine"
				on:select={() => {updateJob()}} on:clear={() => {clearJob()}}>
			</Select>
		</div>
		<div class="col-12 mt-2 col-md-5 col-lg-2 flex-lg-grow-1 m-2">
			<label for="selectFormation" class="form-label">Niveau de formation</label>
			<Select items={allDiploma} id="selectFormation" placeholder="Rechercher un diplôme"
				bind:value={selectedDiploma} on:select={() => {updateDiplome()}} on:clear={() => {clearDiploma()}}>
			</Select>
		</div>
		<div class="col-12 mt-2 col-md-5 col-lg-2 flex-lg-grow-1 m-2">
			<label for="selectDep" class="form-label">Département</label>
			<Select items={allDepartements} id="selectDep" placeholder="Filtrer par département" 
				bind:value={selectedDep} on:select={() => {updateCodeDep()}} on:clear={() => {clearDep()}}>
			</Select>
		</div>
		<div class="col-12 mt-2 col-md-5 col-lg-2 flex-lg-grow-1 m-2">
			<label for="selectVille" class="form-label">Ville</label>
			<Select items={allVilles} id="selectVille" placeholder="Filter par ville"
				bind:value={selectedVille} on:select={() => {updateVille()}} on:clear={() => {updateFormations()}}>
			</Select>
		</div>
	</div>
</section>
	
<section class="row justify-content-around bg-default p-2 g-0">
	<h1 class="my-4 text-center">Formations</h1>
	{#if allFormations.length == 0}
		<div class="rounded my-4 mx-auto bg-sub text-white p-5" id="aucune-formation">
			<p class="h4 mb-0">Aucune formation trouvée</p>
		</div>
	{:else}
		<div class="section-formation">
			{#each paginatedItems as formation}
				
				<Card class={formation.onisepUrl ? "shadow px-0 rounded-2 card-formation card-formation-link" : "shadow px-0 rounded-2 card-formation"}>
					<CardHeader class="bg-main">
						<CardTitle>
							<a class="text-white text-capitalize text-decoration-none stretched-link" href="{formation.onisepUrl}" target="_blank">
								{formation.title.toLowerCase()}
							</a>
						</CardTitle>
					</CardHeader>

					<CardBody>
						<CardSubtitle class="text-capitalize text-decoration-none "><i class="fas fa-graduation-cap" style="width:20px"></i> {formation.company.name.toLowerCase()}</CardSubtitle>
						<CardText class="mb-0 text-capitalize text-decoration-none "><i class="fas fa-map-marker-alt" style="width:20px"></i> {formation.place.zipCode} - {formation.place.city}</CardText>
						<CardText class="mb-0 text-capitalize text-decoration-none  ">{formation.place.address}</CardText>
					</CardBody>
				</Card>
			{/each}
		</div>
	{/if}

</section>
<LightPaginationNav
  totalItems="{allFormations.length}"
  pageSize="{pageSize}"
  currentPage="{currentPage}"
  limit="{1}"
  showStepOptions="{true}"
  on:setPage="{(e) => currentPage = e.detail.page}"
/>