<script>
import { push } from 'svelte-spa-router';
import {
    Collapse,
    Navbar,
    NavbarToggler,
    Nav,
    NavItem,
    NavLink,
  } from 'sveltestrap';

let isOpen = false;
</script>

<style>
	.logo {
		width: 20px;
	}

	#brand:hover {
		cursor: pointer;
	}
</style>

<svelte:head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
	<title>TrouveTaFormation</title>
</svelte:head>

<Navbar class="bg-main" dark expand="md">
	<p class="navbar-brand mb-0" id="brand" on:click={() => push("/")}>
		<img src="/img/logo.png" alt="Logo" class="d-inline-block logo">
		TrouveTaFormation
	</p>
	<NavbarToggler on:click={() => (isOpen = !isOpen)} />
	<Collapse {isOpen} navbar expand="md">
		<Nav navbar>
			<NavItem>
				<NavLink on:click={() => push("/formations")}>Formations</NavLink>
			</NavItem>
			<NavItem>
				<NavLink on:click={() => push("/offres")}>Offres</NavLink>
			</NavItem>
		</Nav>
	</Collapse>
</Navbar>
