<script>
    import Select from 'svelte-select';
    import { onMount } from 'svelte';
    import { 
    Card,
    CardBody,
    CardHeader,
    CardSubtitle,
    CardText,
    CardTitle 
} from 'sveltestrap';

import { paginate, LightPaginationNav } from 'svelte-paginate'
import RangeSlider from "svelte-range-slider-pips";

    

let allMetier = new Array();
let allJobs = [];
let allDepartements = [];
let allVilles = [];
let selectedDep = "";
let selectedJob = "";
let selectedVille ="";
let sliderValue = [50];

let lat;
let long;
let romes;
let insee;

let currentPage = 1;
let pageSize = 9;

$: paginatedItems = paginate({ items:allMetier, pageSize:pageSize, currentPage:currentPage })




async function getRomeCodesFromJobTitle(title)
{
	romes =  await fetch(`https://labonnealternance.apprentissage.beta.gouv.fr/api/V1/metiers?title=${title}`)
    .then(res => res.json())
    .then(res => JSON.stringify(res.labelsAndRomes[0].romes).replaceAll('"','').replace('[','').replace(']',''));
    
    getAllMetiers();
}

async function getAllJobs()
{
	let allJobs = [];
	const jobs = await fetch("https://labonnealternance.apprentissage.beta.gouv.fr/api/V1/metiers/all").then((result) => result.json());
	for (let job of jobs.metiers)
	{
		allJobs.push({value:job, label:job});
	}
	return allJobs;
}
async function getLatLong(query)
{
    let infos = query.split('-');
    let cityInfos = await fetch("https://geo.api.gouv.fr/communes?codePostal="+infos[0].trim()+"&nom="+ infos[1].trim() + "&fields=centre&format=json&geometry=centre")
    .then(res => res.json())


    insee = cityInfos[0].code;
    long  = cityInfos[0].centre.coordinates[0];
    lat = cityInfos[0].centre.coordinates[1];

    getAllMetiers();

} 

async function getAllDepartements()
{
	let allDepartements = [];
	const departements = await fetch("https://geo.api.gouv.fr/departements").then(dep => dep.json());
	for (let dep of departements)
	{
		allDepartements.push({value:dep["code"], label:`${dep["code"]} - ${dep["nom"]}`});
	}
	return allDepartements;
}

async function getAllVillesFromDep(dep_code)
{
	let allVilles = [];
	const villes = await fetch(`https://geo.api.gouv.fr/departements/${dep_code}/communes`).then(ville => ville.json());
	for (let v of villes)
	{
		allVilles.push({value:`${v["codesPostaux"][0]} - ${v["nom"]}`, label:`${v["codesPostaux"][0]} - ${v["nom"]}`});
	}
	return allVilles;
}

async function getAllMetiers()
{
    if(romes && lat && long && insee && romes != "" && lat != "" && long != "" && insee != "")
    {
        allMetier = await fetch("https://labonnealternance.apprentissage.beta.gouv.fr/api/V1/jobs?romes="+romes+"&latitude="+lat+"&longitude="+long+"&radius="+sliderValue+"&insee="+insee+"&sources=lba,offres,matcha&caller=nico@nico.com").then(res => res.json()).then(res => res.lbaCompanies.results);
        currentPage = 1;
    }

}

onMount(async () => {
	allJobs = await getAllJobs();
	allDepartements = await getAllDepartements();

})

async function departementPicked(dep_code)
{
    selectedVille ="";
	if (dep_code != "") {
		allVilles = await getAllVillesFromDep(dep_code);
	}
}
    
</script>


<section class="bg-sub">
	<div class="row d-md-flex flex-md-wrap g-0 px-2 justify-content-evenly">
		<div class="col-1col-12 mt-2 col-md-5 col-lg-2 flex-lg-grow-1 m-2">
			<label for="selectMetier" class="form-label">Domaine concerné</label>
			<Select items={allJobs} id="selectMetier" bind:value={selectedJob} on:select={() => {getRomeCodesFromJobTitle(selectedJob.value)}} placeholder="Rechercher un domaine"></Select>
		</div>
		<div class="ccol-12 mt-2 col-md-5 col-lg-2 flex-lg-grow-1 m-2">
			<label for="selectDep" class="form-label">Département</label>
			<Select items={allDepartements} id="selectDep" placeholder="Filtrer par département" 
				bind:value={selectedDep} on:select={() => {departementPicked(selectedDep.value)}}>
			</Select>
		</div> 
		 <div class="col-12 mt-2 col-md-5 col-lg-2 flex-lg-grow-1 m-2">
			<label for="selectVille" class="form-label">Ville</label>
			<Select items={allVilles} bind:value={selectedVille} on:select={() => {getLatLong(selectedVille.value)}} id="selectVille" placeholder="Filter par ville"></Select>
		</div> 
 
        <div class="col-12 mt-2 col-md-5 col-lg-2 flex-lg-grow-1 m-2">
            <label for="zoneKM" class="form-label">Périmètre de recherche </label>
            <RangeSlider min={0} max={200} step={5}  suffix="km" float pipstep={2} range="min" bind:values={sliderValue} on:stop={() => {getAllMetiers()}} pips first='label' last='label'/>
		</div> 
   
	</div>
	
</section>

	
<section class="row justify-content-around bg-default p-2 g-0">
	<h1 class="my-4 text-center">Offres d'emplois</h1>
	{#if allMetier.length == 0}
		<div class="rounded my-4 mx-auto bg-sub text-white p-5 text-center" id="aucune-formation">
			<p class="h4 mb-0">Aucune offre trouvée !</p>
			<small>Affinez votre recherche.</small>
		</div>
	{:else}
		<div class="section-formation">
			{#each paginatedItems as metier}
				<Card class="shadow px-0 rounded-2 card-formation card-formation-link">
					<CardHeader class="bg-main">
							<CardTitle>
								<a class="text-white text-capitalize text-decoration-none stretched-link" href="{metier.url}" target="_blank">
									{metier.title.toLowerCase()}
								</a>
							</CardTitle>
							<CardSubtitle class="card-subsize">{metier.company.size}</CardSubtitle>
					</CardHeader>
					<CardBody>

						<CardSubtitle class="text-capitalize text-decoration-none"> <i class="fas fa-landmark" style="width:20px"></i> {metier.romes[0].label.toLowerCase()}</CardSubtitle>
						<CardText class="mt-2 mb-0 text-capitalize text-decoration-none"><i class="fas fa-map-marker-alt" style="width:20px"></i> {metier.place.address.toLowerCase()}</CardText>
					</CardBody>
				</Card> 
			{/each}
		</div>
	{/if}
</section>

<LightPaginationNav
  totalItems="{allMetier.length}"
  pageSize="{pageSize}"
  currentPage="{currentPage}"
  limit="{1}"
  showStepOptions="{true}"
  on:setPage="{(e) => currentPage = e.detail.page}"
/>