#home_top_map {
  height: 500px;
}

#home_top_map .mainmmap_region_bg {
  fill: #21265a;
}

#home_top_map .mainmmap_region_title {
  fill: var(--main-color-light-2);
  font-size: 8px;
  font-weight: 600;
}

#home_top_map .mainmmap_region:hover .mainmmap_region_bg {
  fill: var(--main-color-light-3);
  cursor: pointer;
}

#home_top_map .mainmmap_region:hover .mainmmap_region_title {
  fill: #21265a;
  cursor: pointer;
}

#home_top_map .mainmmap_count {
  fill: #ffffff;

  font-size: 34px;

  font-weight: bold;
}

#home_top_map .mainmmap_sub {
  fill: #ffffff;

  font-size: 9px;
}

#home_top_map .mainmmap_pop {
  pointer-events: none;

  opacity: 0;

  transition: all 0.3s ease-out;

  transform: translateY(-20px);
}

#home_top_map .mainmmap_pop path {
  transform: scaleX(1.5);
}

#home_top_map .mainmmap_pop#pop_PAC path {
  transform-origin: 85% 100%;
}

#home_top_map .mainmmap_pop#pop_OCC path {
  transform-origin: 51% 100%;
}

#home_top_map .mainmmap_pop#pop_ARA path {
  transform-origin: 70% 100%;
}

#home_top_map .mainmmap_pop#pop_NAQ path {
  transform-origin: 40% 100%;
}

#home_top_map .mainmmap_pop#pop_BFC path {
  transform-origin: 73% 100%;
}

#home_top_map .mainmmap_pop#pop_CVL path {
  transform-origin: 50% 100%;
}

#home_top_map .mainmmap_pop#pop_PDL path {
  transform-origin: 26% 100%;
}

#home_top_map .mainmmap_pop#pop_IDF path {
  transform-origin: 55% 100%;
}

#home_top_map .mainmmap_pop#pop_GES path {
  transform-origin: 77% 100%;
}

#home_top_map .mainmmap_pop#pop_HDF path {
  transform-origin: 58% 100%;
}

#home_top_map .mainmmap_pop#pop_NOR path {
  transform-origin: 35% 100%;
}

#home_top_map .mainmmap_pop#pop_BRE path {
  transform-origin: 14% 100%;
}
#home_top_map .mainmmap_pop#pop_CORSE path {
  transform-origin: -12% 100%;
}

#home_top_map .mainmmap_pop#pop_GDLP path {
  transform-origin: 10% 100%;
}
#home_top_map .mainmmap_pop#pop_RNN path {
  transform-origin: 12% 100%;
}
#home_top_map .mainmmap_pop#pop_MYT path {
  transform-origin: 20% 100%;
}

#home_top_map .mainmmap_pop.active {
  opacity: 1;

  transform: translateY(0px);
}

#home_top_map .st1 {
  fill: var(--main-color-light-3);
}

#home_top_map .st3 {
  font-size: 9px;
}

#home_top_map .mainmmap_borders {
  fill: none;
  stroke: var(--main-color-light-3);
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#home_top_map .st5 {
  fill: #d7351e;
}

#home_top_map .st6 {
  fill: none;
}

#home_top_map .st7 {
  fill: #ffffff;
}

#home_top_map .st8 {
  font-size: 34px;
}

#home_top_map .st9 {
  font-size: 10px;
}
