:root {
  --main-color: #344d59;
  --main-color-light-1: #7a90a4;
  --main-color-light-2: #b8cbd0;
  --main-color-light-3: #b8cbd079;
  --sub-color: #137c8b;
  --sub-color-light-1: #709ca7;
}

body,
html {
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif!important;
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-sub {
  background-color: var(--main-color-light-1)!important;
}

.bg-sub2 {
  background-color: var(--sub-color)!important;
}


.bg-default {
  background-color: #f3f3f3 !important;
}

.section-formation {
  display: grid;
  grid-gap: 1em;
}

.card-formation {
  transition: transform 0.2s ease-in-out;
}
.card-formation:hover {
  transform: translateY(-7px);
  cursor: pointer;
}

.card-formation .card-header {
  height: 85px;
  overflow-y: hidden;
}

.card-formation-link:hover .card-header {
  background-color: var(--sub-color)!important;
}

.card-formation .card-subsize {
  color: lightgray;
}

.row-cancel-filters {
  width: fit-content!important;
  text-align: center;
}

.cancel-filters {
  padding: .5em 1em;
  background-color: var(--sub-color);
  color: white;
  border-radius: 15px;
}

.cancel-filters i:hover {
  cursor: pointer;
}

#aucune-formation {
  width: fit-content;
  transition: transform 0.2s ease-in-out;
}

#aucune-formation:hover {
  transform: scale(0.97);
  cursor: pointer;
}

.banner {
  height: 500px;
  margin-bottom: 2em;
}

.banner h1 {
  position: relative;
}

#home-formations {
  background-color: var(--sub-color);
  color: white;
}

#home-formations::before {
  content: "";
  position: absolute;
  height: 40px;
  background-color: var(--sub-color);
  top: 0;
  width: 100%;
  transform: translateY(-50%);
}

#home-formations::after {
  content: "";
  position: absolute;
  height: 60px;
  border-bottom: solid 30px var(--sub-color);
  border-left: solid 30px var(--sub-color);
  border-right: solid 30px transparent;
  border-top: solid 30px transparent;
  bottom: 0;
  width: 100%;
  transform: translateY(50%);
}

#home-formations,
#home-offres {
  position: relative;
  min-height: 300px;
  display: flex;
}

.content-img {
  display: none;
  width: 40%;
  height: auto;
  background-position: 50%;
  background-size: cover;
}

#home-formations .content-img {
  background-image: url("../img/formations.jpg");
}

#home-offres .content-img {
  background-image: url("../img/metiers.jpg");
}

.content-text {
  padding: 5em 1em;
}

.left-content {
  order: -1;
}

.right-content {
  order: 1;
}

#main-footer {
  position: relative;
}

.home-main + #main-footer::after {
  content: "";
  position: absolute;
  border-bottom: solid 30px var(--main-color);
  border-right: solid 30px var(--main-color);
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
  top: 0;
  width: 100%;
  transform: translateY(-100%);
}

@media (min-width: 576px) {
  .section-formation {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .banner h1::after {
    content: " ";
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 12px;
    background: var(--main-color-light-2);
    left: 0px;
  }

  .content-img {
    display: block;
  }

  .content-text {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .section-formation {
    grid-template-columns: repeat(3, 1fr);
  }
}
