<script>
	import Header from './templates/Header.svelte';
	import Accueil from './templates/Accueil.svelte';
	import Formations from './templates/Formations.svelte';
	import Offres from './templates/Offres.svelte';
	import Footer from './templates/Footer.svelte';

	import NotFound from './templates/NotFound.svelte';

	import Router from 'svelte-spa-router';

	const routes = {
    	'/': Accueil,
		'/formations':Formations,
		'/offres': Offres,
		'/formations/:region':Formations,
		'*': NotFound,
	}
</script>

<Header></Header>
<Router {routes}/>
<Footer></Footer>